{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

             {###################################################}
             {# template of the form to enter the email address #} 
             {#   to retrieve a link to change the password     #}
             {###################################################}
{% block main %}
<div class="form-resetpass">
    <h1>Mot de Passe oublié</h1>
        {{ form_start(formEmail) }}
        <div>
            <div>
                {{ form_row(formEmail.email,
                {'attr':{'placeholder': "Entrez votre email...",'class': " input-reset"} })}}
            </div>
            <div>
                {{ form_row(formEmail.envoyer,
                {'attr':{'class': "btn btn-info"} })}}
            </div>
        </div>
        {{ form_end(formEmail) }}
</div>
{% endblock main %}
