{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de Passe{% endblock %}

                {################################################}
                {# Form for create a new password form template #}
                {################################################}
{% block main %}
<div>
    <div class="form-resetpass">
        <h1>Réinitialisation de votre mot de passe</h1>
        <form method="post">
            <label>Nouveau mot de passe</label>
            <input type="password" name='plainPassword'>
            {########################################################}
            {# invisible input with the value of the assigned token #} 
            {#  for resetting the password when sending the email   #}
            {########################################################}
            <input type ="hidden" name="token" value="{{reset_token}}">
            <button type="submit" class="btn btn-info">Valider</button>
        </form>
    </div>
</div>
{% endblock main %}