


$FontTitle: 'Oswald',sans-serif;
$FontText:'Roboto Condensed', sans-serif;
$FontButtonTarot: 'Courgette', cursive;
$FontWordJS:'Big Shoulders Display', cursive;
$FontSubTitle: 'Lexend Mega', sans-serif;


$colorTitleHeader:#000000;
$colorLinkNav:#000000;
$colorLinkHoverNav:#FFFFFF;
$colorTitleMain:#EBD2B4;
$colorTitleNews:#000000;
$colorSubtitleNews:#EBD2B4;
$colorSubitleMain:#000000;
$colorSubtitelMainh3:#000000;
$colorWordJs:#EBD2B4;
$colorBtnCarousel:#E6A3C6;
$colorBtnTarot:#FFFFFF;
$ColorHeader:#FFFFFF;
$ColorHeaderMainInfo:#FFFFFF;
$colorLink:#000000;
$colortext:#000000;
$colorLinkHover:#FFFFFF;
$colorHeaderSocial:#000000;
$colorHeaderSocialHover:#8B0000;
$colorLinkProductHover:#FFFFFF;
$boderColorMainArticle:#000000;
$boderColorMainSection:#000000;



$backgroundcolorHeader:#FFFFFF;
$backgroundcolorNavUl:#FFFFFF;
$backgroundcolorMain:#FFFFFF;
$backgroundcolorArticle:#FFFFFF;
$backgroundcolorLinkNavhover:#000000;
$backgroundColorCarousel:#000000;
$backgroundColorCarouselbtn:#000000;
$backgroundColorBtnTarot:#8B0000;
$backgroundcolorHr:#000000;
$backgroundcolorLink:#8B0000;
$backgroundcolorFooter:#FFFFFF;
$backgroundcolorProductHover:#8B0000;


